.container {
  max-width: 100px;
  margin: 10px auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

#flag img,
#coat-of-arms img {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: 0 auto;
}

#currency,
#capital,
#languages,
#cities {
  margin-bottom: 10px;
}
